@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>

    <h1>Thermometer World</h1>

    <img src="~/Image/Thermometer.png" alt="Thermometer">

    <h3> About Us: </h3>
    
    <p>Thermometer World is a leading provider of high-quality thermometers for personal and professional use. 
        Our corporate headquarters are located in the heart of Silicon Valley, where we employ a team of experienced 
        engineers, designers, and customer support staff dedicated to creating innovative and reliable products that
        meet the needs of our customers.</p>

    <h3>Product Description:</h3>
    
    <p>Our selection of thermometers includes a wide range of models designed for different uses and temperature ranges. 
        From digital thermometers for home use to infrared thermometers for industrial applications, we offer a variety of 
        options to suit your needs.</p>

    <p>All of our thermometers are made with high-quality materials and are built to last. We use only the most accurate 
        temperature sensors and cutting-edge technology to ensure that our products provide reliable and precise temperature 
        readings every time. Our thermometers also feature durable and ergonomic designs for comfortable and easy use.</p>
}
